*{
    margin: 0;
}
html, body{
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}